# Core Tools
# For data versioning and pipelines with S3 storage
dvc-s3
# For interacting with the AWS API in deployment scripts
boto3

# Data Processing and Modeling
# For data manipulation with DataFrames
pandas
# For model training, preprocessing, and evaluation
scikit-learn
# For reading YAML configuration files (params.yaml)
PyYAML

# Data Visualization
# For creating plots like the confusion matrix
matplotlib
seaborn

# Inference Server
# For creating the web API
Flask
# For running the Flask app in a production environment
gunicorn